<% @posts.each do |post| %>
  <div>
    <%= link_to post.title, post_path(post.id) %>
  </div>
<% end %>

<!--
works, but can be refactored
<% @posts.each do |post| %>
  <div>
    <%= link_to post.title, "/posts/#{post.id}" %>
  </div>
  <% end%>
-->
<!-- 
old way, ugly way:
<% @posts.each do |post| %>
  <div> <a href="<%= "/posts/#{post.id}" %>">
  <%= post.title %> </a>
  </div>
<% end %>
-->